@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
	font-family: 'Roboto', sans-serif;
}

.bg-color-name-history-title {
	background-color: #676767;
}

.bg-color-work-history {
	background-color: #e84610;
}

.contact-heading {
	color: #333;
	text-align: center;
	font-family: "Exo", sans-serif;
	font-weight: 400;
	font-size: 40px;
	position: relative;
	margin-top: 70px;
}

.center-form {
	padding-top: 10px;
	margin: 0 auto;
	max-width: 70%;
}

.history-name {
	font-family: "Exo", sans-serif;
	font-weight: 100px;
	font-size: 28px;
	margin-top: 20px;
	color: #f05f40;
}

.list-inline-item:not(:last-child) {
	margin: 0;
}

.menucontainer {
	font-size: 0;
}

#nav {
	margin: 0;
}

#nav li {
	font-size: 14px;
	padding: 0;
}

.menuitem {
	height: 90px;
	text-align: center;
	padding: 0;
}

.menuitem a {
	width: 100%;
	text-decoration: none;
	color: #fff;
	height: 90px;
}

.menuitem a i {
	padding-top: 22px;
	display: block;
	color: #fafafa;
	font-size: 26px;
}

.menuitem span {
	display: block;
	width: 100%;
	padding-top: 5px;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 2px;
}

#nav li:hover {
	color: #fafafa;
	background: #e84610;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}

.welcome-container {
	height: 100vh;

	background: url("../images/landscape.jpeg") no-repeat bottom right fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
}


.opaque-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.video-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 15px;
}


/* -------------- Special paddings/margins/text ------ */

/* -------------- Block dividers ------ */

.block-divider {
	width: 100px;
	height: 5px;
	border: 0;
}

.block-divider--orange {
	background-color: #f05f40;
}

.block-divider--short {
	width: 35px;
}

/* --------------- Navbar ------------- */

.navalert-container {
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 0;
	padding-right: 0;
}

.navbar {
	margin-bottom: 0;
	border: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	z-index: 1;
}

.navbar-work,
.navbar-contact {
	position: fixed;
	margin-bottom: 20px;
	border: 0;
	width: 100%;
	background-color: #525252;
	z-index: 1;
}

.navbar-work {
	position: fixed;
}

.navbar .navbar-toggler {
	border: 0;
}

.navbar-brand {
	font-family: "Exo";
	sans-serif;
	color: #fff;
	font-weight: bold;
}

.navbar-dark .navbar-brand:hover {
    color: #e84610;
}

.navbar .navbar-nav a {
	color: #fff;
	font-weight: bold;
}


/* --------------  Jumbotron ------------*/

.jumbotron {
	background-color: transparent;
}

.jumbotron-header {
	font-family: "Exo";
	sans-serif;
	color: #fff;
	font-weight: 400;
	font-size: 46px;
	margin-top: 50px;
	margin-bottom: 30px;
}

.jumbotron .lead {
	font-family: "Roboto";
	sans-serif;
	margin: 25px;
	color: #fff;
	margin-bottom: 30px;
}

/* ----------------. Buttons ------------- */

.btn--cta {
	font-weight: bold;
	border-radius: 23px;
	width: 160px;
}

.btn--red {
	color: white;
	background-color: #f05f40;
	border-color: #f05f40;
}


.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
	background-color: #df4929;
	border-color: #df4929;
	color: white;
}

.history-heading,
.section-heading {
	color: #333;
	text-align: center;
	font-family: "Exo", sans-serif;
	font-weight: 400;
	font-size: 40px;
	position: relative;
	margin: 30px 0 60px;

}

.section-heading::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 5px;
	background: #f05f40;
	left: 0;
	right: 0;
	bottom: -10px;
}


.logo {
	background: url("../images/mario-pic2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 360px;
	transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}

/* --------------------- Media Queries -------------*/
.mobile-view {
	display: none;
}

@media screen and (max-width: 600px) {
	.mobile-view {
		display: block;
	}
	.desktop-view {
		display: none;
	}
}

@media(min-width: 992px) {
	.center-form {
		padding-top: 30px;
		min-height: 240px;
		margin: 0 auto;
		max-width: 50%;
	}
}

/* --------------------- Carousel -------------*/

h2 {
	color: #333;
	text-align: center;
	font-family: "Exo", sans-serif;
	font-weight: 400;
	font-size: 40px;
	position: relative;
	margin: 30px 0 60px;
}

h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 5px;
	background: #f05f40;
	left: 0;
	right: 0;
	bottom: -10px;
}

.col-center {
	margin: 0 auto;
	float: none !important;
}

.carousel {
	margin: 50px auto;
	padding: 0 70px;
}

.carousel .item {
	color: #999;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	min-height: 290px;
}

.carousel .item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}

.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}

.carousel .testimonial {
	padding: 20px 0 10px;
}

.carousel-item .testimonial:before {
	content: "\f10d";
	font-family: 'Fontawesome';
	float: left;
	margin-right: 10px;
}

.carousel .overview {
	font-style: italic;
}

.carousel .overview b {
	text-transform: uppercase;
	color: #f05f40;
}

.carousel .carousel-control {
	width: 40px;
	height: 40px;
	margin-top: -20px;
	top: 50%;
	background: none;
}

.carousel-control i {
	font-size: 68px;
	line-height: 42px;
	position: absolute;
	display: inline-block;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}

.carousel .carousel-indicators {
	bottom: -40px;
}

.carousel-indicators li,
.carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;
}

.carousel-indicators li {
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

.carousel-indicators li.active {
	background: #555;
	box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* ------------------------------ Footer ------ */

.footer-contact {
	margin-top: 30px;
	margin-bottom: 0px;
	
}

.uppercase {
	text-transform: uppercase;
}

.general-sub {
	font-family: "Exo";
	sans-serif;
	font-weight: 300;
	color: #f05f40;
}

.inline-block {
	display: inline-block;
}

footer {
	background-color: #525252;
	color: #fafafa;
	min-height: 120px;
	margin: 0;
}

.cv-pdf i {
	font-size: 28px;
	color: #fafafa;
	text-align: center;
	padding-left: 5px;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}

.cv-pdf i:hover {
	color: #e84610;
}


#footer-details {
	padding: 30px;
}

.social-links {
	padding-bottom: 15px;
}

.social-links li a i {
	width: 32px;
	height: 32px;
	padding: 12px 0;
	border-radius: 50%;
	font-size: 20px;
	line-height: 7px;
	text-align: center;
	color: #fafafa;
	background: #8f8f8f;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}

.social-links li a i:hover {
	background: #e84610;
}

.social-links li a i.fab.fa-facebook-f:hover {
	background-color: #3b5998;
}

.social-links li a i.fab.fa-twitter:hover {
	background-color: #38A1F3;
}

.social-links li a i.fab.fa-linkedin:hover {
	background-color: #0077B5;
}

.social-links li a i.fab.fa-pinterest:hover {
	background-color: #c8232c;
}

.social-links li a i.fab.fa-instagram:hover {
	background-color: #c13584;
}

.social-links li a i.fab.fa-youtube:hover {
	background-color: #c4302b;
}

.social-links li a i.fab.fa-github:hover {
	background-color: #211f1f;
}

/* -------------------------------------------------Three Points */

.three-points-icon {
	font-size: 26px;
	color: #f05f40;
}

.section-heading {
	color: #333;
	font-family: "Exo", sans-serif;
	font-weight: 400;
	font-size: 40px;
	position: relative;
	margin: 30px 0 60px;
}

.three-points-heading {
	margin-bottom: 15px;
}

.navbar-brand-history {
	color: #f05f40;
	font-family: "Exo", sans-serif;
	font-weight: 400;
	font-size: 24px;
}

.navbar-history {
	background-color: #525252;
	color: #fafafa;
}

.history-section {
	height: 100vh;
	margin: 60px 20px;
}

/* --------------- Working History ------------- */

.history-heading {
	color: #fafafa;
}

.history-heading::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 5px;
	background: #fafafa;
	left: 0;
	right: 0;
	bottom: -10px;
}

.timeline-item {
	padding :4em 2em 0em 2em;
	position: relative;
	color: #fafafa;
	border-left: 1px solid;
}

.timeline-item p {
	padding: 0;
	margin: 0;
}

.timeline-item:before {
	content: attr(data-dates);
	position: absolute;
	left: 2.5em;
	top: 3em;
	display: block;
	font-family: "Exo" , sans-serif;
	font-weight: 500;
	font-size: 0.8em;
	padding: 0;
	margin: 0;
}

.timeline-item:after {
	width: 12px;
	height: 12px;
	display: block;
	top: 2.4em;
	position: absolute;
	left: -6px;
	border-radius: 12px;
	content: '';
	background: #fafafa;
}

.history-items {
margin-bottom: 30px;
}

.history-body {
	margin-top: 40px;
}


/* --------------- Skills ------------- */

.progress {
	position: relative;
	height: 25px;
	margin-bottom: 4px;
}

.progress-type {
	position: absolute;
	left: 0px;
	font-weight: 400;
	padding: 3px 30px 2px 10px;
	color: #fafafa;
	background-color: rgba(25, 25, 25, 0.2)
}

.progress-section {
	margin: 40px 20px;
}

/* --------------- Footer Personal Info. ------------- */

.personal-info-item {
	margin-bottom: 9px;
	display: block;
	clear: both;
}

.personal-info-item .key,
.personal-info-item .value {
	padding-right: 8px;
	display: inline-block;
}

.personal-info-item .key p,
.personal-info-item .value p {
	margin: 0;
}

.personal-info-item .key {
	width: 30%;
	margin-right: 21px;
	padding-top: 2px;
	vertical-align: top;
}

.personal-info-item .key p {
	font-weight: 700;
}

.personal-info-item .value {
	position: relative;
	width: 60%;
}